@model CreateCommentViewModel


<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Bir Yorum Bırakın</h4>
    <p class="mb-4">
        Şaretli alanları doldurmanız gerekmektedir. *
    </p>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form asp-action="AddComment" asp-controller="Comment" method="post">
        <input type="hidden" asp-for="@Model.DestinationId" value="@ViewBag.DataId"/>
        <div class="form-group" asp-validation-summary="ModelOnly"></div>
        
        <div class="form-group">
            <textarea asp-for="@Model.Content" class="form-control" placeholder="Yorumunuz" spellcheck="false" required></textarea>
            <span class="text-danger" asp-validation-for="@Model.Content"></span>
        </div>
        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Yorum Gönder </button>
        </div>
    </form>

</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
