<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="~/member/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="index.html">
                    <img class="brand-logo" alt="Chameleon admin logo" src="~/member/theme-assets/images/logo/logo.png" />
                    <h3 class="brand-text">Traversal</h3>
                </a>
            </li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a asp-controller="Dashboard" asp-action="Index2" asp-area="Member"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
            </li>
            <li class=" nav-item">
                <a asp-controller="Destination" asp-action="Index" asp-area="Member"><i class="ft-pie-chart"></i><span class="menu-title" data-i18n="">Rotalar</span></a>
            </li>
            <li class=" nav-item">
                <a asp-area="Member" asp-controller="Profile" asp-action="UserProfile"><i class="ft-droplet"></i><span class="menu-title" data-i18n="">Profilim</span></a>
            </li>
            <li class=" nav-item">
                <a asp-area="Member" asp-controller="Reservation" asp-action="MyCurrentReservation"><i class="ft-layers"></i><span class="menu-title" data-i18n="">A.Rezervasyonlar</span></a>
            </li>
            <li class="active">
                <a asp-area="Member" asp-controller="Reservation" asp-action="MyOldReservation"><i class="ft-box"></i><span class="menu-title" data-i18n="">G.Rezervasyonlar</span></a>
            </li>
            <li class=" nav-item">
                <a asp-area="Member" asp-controller="Reservation" asp-action="MyApprovalReservation"><i class="ft-bold"></i><span class="menu-title" data-i18n="">O.B.Rezervasyonlar</span></a>
            </li>
            <li class=" nav-item">
                <a asp-area="Member" asp-controller="Reservation" asp-action="NewReservation"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Yeni Rezervasyon</span></a>
            </li>
            <li class=" nav-item">
                <a asp-action="Index" asp-controller="Default"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Siteye Git</span></a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="ft-book"></i><span class="menu-title" data-i18n="">Çıkış Yap</span></a>
            </li>
        </ul>
    </div><a class="btn btn-danger btn-block btn-glow btn-upgrade-pro mx-1" href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" target="_blank">Download PRO!</a>
    <div class="navigation-background"></div>
</div>